:root {
  --primary-color: #e01d3f;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.App-header img {
  width: 200px;
  height: auto;
}

.App-body {
  margin: 50px;
}

.App-footer {
  border-top: 3px solid var(--primary-color);
  justify-content: center;
  font-style: italic;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
