:root {
    --primary-color: #e01d3f;
    --font-fam: Calibri;
}

.Notifications {
    font-family: var(--font-fam);
    padding: 20px;
    border: 3px dashed var(--primary-color);
    display: flex;
}

li[data-priority = "default"] {
    color: blue;
}

li[data-priority="urgent"] {
    color: red;
}

ul {   
    display: block;
}

.CloseButton {
    padding: 0;
    background-color: white;
    border: none;
    align-self: flex-start;
}

button img {
    width: 10px;
}